@tailwind base;
@tailwind components;
@tailwind utilities;

#map {
  background-image: url('/svg/topography.svg');
  back-blend-mode: multiply;
}
#noise {
  background-image: url('/svg/nnnoise.svg');
  mix-blend-mode: soft-light;
}
#grid {
  background-image: url('/svg/tiny-checkers.svg');
  background-repeat: repeat;
}
